# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store

# Builds
.next
dist
coverage

# Env
.env
.env.*
!.env.example

# Docker
.docker
resp.json
.vscode/

# Arquivos temporários e de ambiente na raiz do projeto
api.env
cookies.txt
eslint/
nest/
prettier/
tash push -m backup antes de voltar pro último commit # O nome exato
v0.4.0-sprint4/