# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store

# Builds
.next
dist
coverage

# Env
.env
.env.*
!.env.example

# Docker / local files
.docker
resp.json
cookies.txt
*.cookie
*.cookies

# Editor
.vscode/

# Temporary folders
eslint/
nest/
prettier/
v0.4.0-sprint4/