@import "tailwindcss";


:root { color-scheme: light; }

@theme inline {
  --color-brand-50:  #EEF8FF;
  --color-brand-100: #D9F0FF;
  --color-brand-200: #BCE6FF;
  --color-brand-300: #8ED7FF;
  --color-brand-400: #5FC7FF;
  --color-brand-500: #36B5FF;  
  --color-brand-600: #189AE6;
  --color-brand-700: #0F79B3;

  --radius-xl2: 1rem;
  --shadow-soft: 0 6px 20px rgba(0,0,0,0.06);
}

html, body { height: 100%; }

body {
  @apply min-h-screen bg-brand-50 text-gray-900 antialiased;
}
