# dependências
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.pnpm-store

# Artefatos de build
.next/
/out/
/build
/dist
coverage
*.tsbuildinfo

# Variáveis de ambiente
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
!.env.example # Permite commitar um .env.example como template

# Arquivos de log e debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
resp.json # Assumindo que seja um arquivo temporário de resposta

# Arquivos temporários e de sistema
.DS_Store # macOS
web/devnull # Conforme identificado no seu atual

# Configurações de IDE e Ferramentas
.vscode/
.idea/ # Para usuários do WebStorm/IntelliJ
.next/cache # Cache específico do Next.js (já coberto por .next/)

# Ferramentas de Deploy/CI
.vercel # Vercel CLI config
.docker # Arquivos temporários do Docker CLI ou de configuração local

# Segurança
*.pem # Chaves e certificados
